.exp-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
  line-height: 140%;
}

.info {
  text-align: right;
  width: 220px;
}

.info p:first-child {
  text-transform: uppercase;
  font-weight: 500;
}

.desc {
  width: 400px;
}

.desc p {
  text-transform: uppercase;
}

.desc li {
  list-style-type: none;
  font-weight: 300;
}
