.cv-wrapper {
  width: 800px;
  font-weight: 300;
  margin-inline: auto;
  padding-block: 50px;
}

.cv-wrapper h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.cv-wrapper p {
  line-height: 24px;
}

.cv-wrapper li {
  line-height: 24px;
}

.hero {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 24px;
}

.cv-img-wrapper img {
  width: 250px;
  height: auto;
}

.about-me {
  position: relative;
  width: 550px;
  margin-left: 10px;
}

.about-me-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.main h4 {
  margin-block: 20px;
}

.edu {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.edu p:first-child {
  width: 200px;
  text-align: right;
}

.skills {
  display: flex;
}
