.navbar-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  line-height: 150%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
  background: #eee;
}

.navbar-wrapper div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 80px;
  margin-inline: auto;
  font-size: 24px;
}

@media only screen and (max-width: 1200px) {
  .navbar-wrapper div {
    width: 90%;
  }
}

.navbar-wrapper ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.navbar-wrapper li,
.navbar-wrapper button {
  list-style-type: none;
  transition-duration: 0.2s;
}

.navbar-wrapper li:hover {
  box-shadow: 0 3px 0 0 black;
  cursor: pointer;
}

.navbar-wrapper a {
  display: inline-block;
  color: black;
  text-decoration: none;
}

.navbar-wrapper button {
  height: 24px;
  border: none;
  padding: 0;
}

.navbar-wrapper button:hover {
  cursor: pointer;
}

.modal {
  width: 800px;
}

.close-modal {
  color: white;
}
