.app-wrapper {
  position: relative;
  max-width: 1000px;
  margin-inline: auto;
  height: 100%;
}

@media only screen and (max-width: 1200px) {
  .app-wrapper {
    width: 90%;
  }
}

.content-wrapper {
  position: absolute;
  top: 100px;
}

.show-cv-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
}

.btn-wrapper {
  width: 200px;
}

.btn-wrapper .btn {
  position: sticky;
  top: 10px;
  margin: 10px 5px;
  cursor: pointer;
  width: 85px;
}
