.app-wrapper {
  /*position: relative;*/
  max-width: 1200px;
  margin-inline: auto;
}

@media only screen and (max-width: 1200px) {
  .app-wrapper {
    width: 90%;
  }
}

.content-wrapper {
  position: absolute;
  top: 100px;
}

.btn-wrapper {
  position: fixed;
  right: 0;
}

.btn-wrapper .btn {
  margin: 10px 5px;
}
