.app-wrapper {
  position: relative;
  max-width: 1000px;
  margin-inline: auto;
}

.portfolio {
  margin-inline: auto;
}

@media only screen and (max-width: 1200px) {
  .app-wrapper {
    width: 90%;
  }
}

.content-wrapper {
  position: absolute;
  top: 120px;
  left: 50px;
  right: 50px;
}

.btn-wrapper {
  position: fixed;
  top: 40px;
  right: 50px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 220px;
}

.btn-wrapper .btn {
  cursor: pointer;
  width: 85px;
  color: white;
}
