@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&display=swap");

@media print {
  @page {
    margin: 5mm;
  }

  body {
    margin: 0;
  }
}

* {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  scroll-padding-top: 40px;
  margin: 0;
  padding: 0;
}
