.about-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding-inline: 150px;
}

.about-img-wrapper img {
  width: 350px;
  height: auto;
}

.about-wrapper hr {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translate(-50%, 0);
  background: #000;
  width: 70%;
}

.about-wrapper .media-wrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
}

.media-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 30px
}

.media-wrapper svg {
  width: 40px;
  height: 40px;
}
